/* App.css */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #dfdfe8;
    margin: 20px;
    padding: 0;
    color: #370606;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
}

body::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(/Users/kumar_air/FullstackProjects/RecipesBook/frontend/img/grid.png) repeat-x;
    will-change: transform;
    z-index: -1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold
}

.nav-link {
    color: #3f3fa0;
    margin-right: 10px;
    text-decoration: none;
}

.nav-link.active-link {
    color: #ff0000;
    font-weight: bold;
    text-decoration: underline;
}
